.bookContainer{
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background: #ECCD30;
    color: #163558;
    padding: 5px;
    border-radius: 20px;
    height: 300px;
    width: 200px;
    place-content: center;
}

.bookContainer img{
    width: 150px;
    height: 175px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 4px #202124;
}

.bookTitle{
    font-weight: 700;
    font-size: 1.5rem;

}

.bookAuthor{
    margin-bottom: 10px;
    font-weight: 400;
}

.details{
        position: relative;
        bottom: 25px;
        width: 120px;
        border-style: none;
        padding: 10px;
        background: #629ADB;
        color: white;
        border-radius: 10px;
        font-weight: 400;

}

.details:hover{
    background: white;
    color: #202124;
    font-weight: bold;
    animation: pop 0.5s linear ;
    cursor: pointer;
    
}

@keyframes pop {
    0%{
        transform: scale(100%);
    }
    50%{
        transform: scale(120%);
    }
    100%{
        transform: scale(100%);
    }
}