.navbar-container{
    padding: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    background: #202124;
    color: white;
    justify-content: center;
}
.navbar-container a{
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;

}

.navbar-container a:hover{
    color: yellowgreen;
}